.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-pane {
  width: 40%;
}

.right-pane {
  width: 60%;
  height: 100%;
  padding-top: 60px;
  padding-left: 10px;
}

tr {
  height: 25px;
}
