table {
  border-spacing: 0;
  margin-top: 30px;
}

th,
td,
input {
  width: 160px;
  height: 30px;
  border-bottom: 1px solid black;
  text-align: left;
  padding-left: 10px;
}

th {
  background-color: rgb(70, 68, 68);
  color: white;
}

tr {
  height: 25px;
}

td {
  background-color: rgb(237, 237, 237);
}

th:first-child{
  border-top-left-radius: 9px;
}

tfoot td:first-child{
  border-bottom-left-radius: 9px;
}

th:last-child{
  border-top-right-radius: 9px;
}

tfoot td:last-child{
  border-bottom-right-radius: 9px;
}

input {
  height: 20px;
  border: none;
  border-bottom: 1px solid #bab7b7;
}

.button-column {
  width: 50px;
}