table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
input {
  width: 90px;
  height: 20px;
  border: 1px solid black;
  text-align: left;
  /* box-sizing: border-box; */
}

.button-column {
  width: 50px;
}